.divContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

.input {
    outline: none;
    border: none;
    border-bottom: 2px solid green;
    background: none;
    color: white;
}

.btn {
    width: 120px;
    border-radius: 10px;
    padding: 10px 0px;
    background-color: green;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}