.App {
   text-align: center;
   /* background: rgb(0,0,0);
   background: linear-gradient(31deg, rgba(0,0,0,1) 0%, rgba(121,7,42,1) 79%); */
   /* background: #fca311; */
   /* background-image: url(../assed/img/rick-and-morty.jpg ); */
}

/* .div {
   display: flex;
   justify-content: center;
} */
